.header
  .header__logo
    %a{href: ""}
      %img.icon{:alt => "Wantedly", :height => "44px", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg", :width => "44px", :margin => "0"}/
  .header__menu
    %ul
      %li
        = link_to "投稿する", new_offer_path
      %li
        %a{href: ""} フィードをみる
      %li
        %a{href: ""} プロフィール
      %li
        %a{href: ""} ツール
  .header__search
    %form.search{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
      %input.input{:autocomplete => "off", :dir => "auto", :name => "q", :placeholder => "人や会社、募集を検索", :spellcheck => "false", :style => "position: relative; vertical-align: top;", :type => "text"}/
  .header__icon
    %i.fa.fa-search

  .header__profile
    %img.photo{:alt => "Wantedly", :height => "44px", :src => "/assets/company.jpg", :width => "44px", :margin => "0"}/
    #modal-overlay
      .hidden-menu
        .hidden-menu__account
          %ul
            %li
              %a.account-link
                .name-area
                  .name-profile
                    = current_company.company_name
                  .name-edit プロフィール編集
        .hidden-menu__visit
          %ul
            %li
              %a.apply-visit{:href => "/users/#{current_company.id}"} 投稿した企業
            %li
              %a.apply-visit{:href => "/"} 保存したユーザー
        .hidden-menu__user
          %ul
            %li
              %a.user-menu{:href => "/"} フォローしている会社
            %li
              %a.user-menu{:href => "/"}友達を招待
            %li
              %a.user-menu{:href => "/"}アカウント設定
            %li
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'user-menu'
  .header__status
    %ul
      %li
        %a{href: ""}
          %i.fa.fa-commenting-o
      %li
        %a{href: ""}
          %i.fa.fa-user-o
      %li
        %a{href: ""}
          %i.fa.fa-bell
