.header__logo
  %a{href: ""}
    %img.icon{:alt => "Wantedly", :height => "44px", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg", :width => "44px", :margin => "0"}/
.header__menu
  %ul
    %li
      %a{href: ""} 応募を見る
    %li
      %a{href: ""} フィードをみる
    %li
      %a{href: ""} プロフィール
    %li
      %a{href: ""} ツール
.header__search
  %form.search{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
    %input.input{:autocomplete => "off", :dir => "auto", :name => "q", :placeholder => "人や会社、募集を検索", :spellcheck => "false", :style => "position: relative; vertical-align: top;", :type => "text"}/
.header__icon
  %i.fa.fa-search

.header__profile
  %a{href: ""}
    %img.photo{:alt => "Wantedly", :height => "44px", :src => "/assets/company.png", :width => "44px", :margin => "0"}/
.header__status
  %ul
    %li
      %a{href: ""}
        %i.fa.fa-commenting-o
    %li
      %a{href: ""}
        %i.fa.fa-user-o
    %li
      %a{href: ""}
        %i.fa.fa-bell
