.header
  .header__logo
    = link_to image_tag("https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg"), offers_path
  .header__menu
    %ul
      %li
        %a{href: ""} 募集を見る
      %li
        %a{href: ""} フィードをみる
      %li
        %a{href: ""} プロフィール
      %li
        %a{href: ""} ツール
  .header__search
    %form.search{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
      %input.input{:autocomplete => "off", :dir => "auto", :name => "q", :placeholder => "人や会社、募集を検索", :spellcheck => "false", :style => "position: relative; vertical-align: top;", :type => "text"}/
  .header__icon
    %i.fa.fa-search

  .header__profile
    =image_tag "man.png"
    #modal-overlay
      .hidden-menu
        .hidden-menu__account
          %ul
            %li
              %a.account-link
                .name-area
                  .name-profile
                    = current_user.name
                  .name-edit プロフィール編集
        .hidden-menu__visit
          %ul
            %li
              =link_to "応募した企業", user_path(current_user.id), class: "apply-visit"
            %li
              %a.apply-visit{:href => "/"} 保存した募集
        .hidden-menu__user
          %ul
            %li
              %a.user-menu{:href => "/"} フォローしている会社
            %li
              %a.user-menu{:href => "/"}友達を招待
            %li
              %a.user-menu{:href => "/"}アカウント設定
            %li
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'user-menu'
  .header__status
    %ul
      %li
        = link_to gcals_path(current_user.id) do
          %i.fa.fa-calendar-o
      %li
        %a{href: ""}
          %i.fa.fa-commenting-o
      %li
        %a{href: ""}
          %i.fa.fa-user-o
      %li
        %a{href: ""}
          %i.fa.fa-bell
