.contents {
  box-sizing: border-box;
  height: 415px;
  display: inline-block;
  width: 1440px;
  &__box {
    height: 415px;
    width: 475px;
    float: left;
    border-right: 5px solid $light-grey;
    border-bottom: 5px solid $light-grey;
    .main-contents {
      height: 415px;
      width: 100%;
      display: inline-block;
      a {
                text-decoration: none;
      }
      &__company{
        box-sizing: border-box;
        overflow: hidden;
        transition: 0.25s;
        img {
          height: 260px;
          width: 100%;
        }
        img:hover {
            -moz-transform: scale(1.1,1.1);
            -webkit-transform: scale(1.1,1.1);
            -o-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
          }
      }
      &__details {
        height: 155px;
        width: 100%;
        padding-left: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
        &__job {
          width: 100%;
          display: inline-block;
          color: #00A4BB;
          font-size: 12px;
          font-weight: 600;
          vertical-align: middle;
          margin: 0;
          padding: 0;
        }
        &__title{
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          line-height: 1.4;
          padding-top: 3px;
          height: 70px;
          overflow: hidden;
          text-overflow: ellipsis;
          a {
            color: black;
          }
        }
        &__name {
          height: 40px;
          width: 500px;
          float: left;
          .icon {
            height: 30px;
            width: 35px;
            float: left;
            padding-right: 8px;
            padding-bottom: 15px;
          }
          a {
            text-decoration: none;
            color: $font-gray;
            display: block;
            line-height: 2.5;
          }
        }
        &__like {
          float: right;
          width: 80px;
        }
      }
    }
  }
}
.recruitment-contents {
  box-sizing: border-box;
  height: 1000px;
  width: 1440px;
  background-color: $white;
  margin-bottom: 48px;
    a {
      text-decoration: none;
    }
  &__center {
    width: 890px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 48px;
    &__left {
      width: 300px;
      height: 818px;
      float: left;
      &__inner {
        width: 300px;
        height: 770px;
        &__menu {
          width: 264px;
          height: 770px;
          margin-left: 36px;
          .menu-header {
            width: 263px;
            height: 21px;
            h4 {
              font-size: 14px;
              color: $font-gray;
            }
          }
          .menu-contents {
            width: 264px;
            height: 734px;
            .job-form {
              padding-top: 15px;
              #search {
                width: 236px;
                height: 34px;
                font-size: 13px;
                font-weight: bold;
              }
            }
            .job-word {
              width: 264px;
              height: 140px;
              padding-top: 15px;
              padding-bottom: 15px;
              border-bottom: 1px solid $light-grey;
              ul {
                list-style: none;
                li {
                  padding-top: 10px;
                  font-size: 13px;
                }
              }
            }
            .job-region {
              width: 264px;
              height: 140px;
              padding-top: 15px;
              padding-bottom: 15px;
              border-bottom: 1px solid $light-grey;
              h5 {
                font-size: 13px;
                color: $font-gray;
              }
              ul {
                list-style: none;
                li {
                  padding-top: 10px;
                  font-size: 13px;
                }
              }
            }
            .job-characteristics {
              width: 264px;
              height: 140px;
              padding-top: 15px;
              padding-bottom: 15px;
              border-bottom: 1px solid $light-grey;
              h5 {
                font-size: 13px;
                color: $font-gray;
              }
              ul {
                list-style: none;
                li {
                  padding-top: 10px;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
    &__main {
      float: left;
      width: 475px;
      height: 1000px;
      overflow-y: scroll;
      padding-left: 30px;
      &__menu {
        height: 40px;
        width: 475px;
        line-height: 40px;
        box-sizing: border-box;
        border-bottom: 1px solid #DCDCDC;
        .recruitment-count {
          float: left;
        }
        .recruitment-status {
          float: right;
          ul {
            list-style: none;
            li {
              display: inline-block;
              padding-left: 5px;
              p {
                color: #9DA0A4;
              }
              a {
                text-decoration: none;
                display: block;
              }
            }
          }
        }
      }
      &__area {
        height: 520px;
        width: 475px;
        box-sizing: border-box;
        &__company {
          height: 520px;
          width: 475px;
          padding-top: 30px;
          border-bottom: 1px solid #DCDCDC;
          box-sizing: border-box;
          img {
          height: 260px;
          width: 475px;
          }
        }
        &__details {
          height: 215px;
          width: 475px;
          box-sizing: border-box;
          padding-bottom: 15px;
          &__job {
            display: inline-block;
            color: #00A4BB;
            font-size: 12px;
            font-weight: 600;
            vertical-align: middle;
            border: 1px solid #00A4BB;
            margin: 0;
            padding: 0;
          }
          &__title {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.4;
            padding-top: 5px;
            height: 70px;
            width: 460px;
            overflow: hidden;
            text-overflow: ellipsis;
            a {
              color: black;
            }
          }
          &__message {
            height: 60px;
            padding-top: 5px;
          }
          &__name {
            height: 40px;
            width: 475px;
            float: left;
            padding-top: 15px;
            padding-bottom: 15px;
            &__icon {
              a {
              text-decoration: none;
              color: $font-gray;
              display: block;
              line-height: 2.5;
                .icon {
                  position: relative;
                  bottom: 5px;
                  height: 30px;
                  width: 30px;
                  float: left;
                }
              }
            }
            &__text {
              a {
                text-decoration: none;
                color: $font-gray;
                display: block;
                padding-left: 10px;
                float: left;
              }
            }
            &__like {
              float: right;
              width: 100px;
            }
          }
        }
      }
    }
  }
}
